.bash_logout
.bashrc
.ipynb_checkpoints/
.jupyter-server-log.txt
.jupyter/
.local/
.profile
writing/main.aux
writing/main.bbl
writing/main.blg
writing/main.fdb_latexmk
writing/main.fls
writing/main.log
writing/main.out